<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bonjour</title>
</head>
<body>

<header th:insert="~{fragments/header :: header}"></header>


<div th:if="${typemusiques.size() > 0}">
    <table>
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Description</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="typemusique : ${typemusiques}">
            <th scope="row">[[${typemusique.id_type_musique}]]</th>
            <th scope="row">[[${typemusique.description_type_musique}]]</th>
            <th>
                <a class="btn btn-primary"
                   href="">
                    <i class="fa fa-play"></i>
                </a>
                <a class="btn btn-success"
                   href="">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger"
                   href="">
                    <i class="fa fa-trash"></i>
                </a>
            </th>
        </tr>
        </tbody>
    </table>
</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>