<nav th:fragment="nav">
    <link th:href="@{/css/nav/navbar.css}" rel="stylesheet" type="text/css"/>
    <a class="navbar-brand" href="/eventz/home">
        <img th:src="@{/images/Eventz.png}" alt="Eventz Logo" id="eventz-logo"/>
    </a>
    <div class="navbar-options">
        <a href="#" id="sortirCeSoir">Sortir ce soir</a>
        <a href="/eventz/evenement/add" id="addevent">Créer un event</a>
        <a href="/eventz/friend/add" id="addfriend">Ajouter des amis</a>
        <a href="/eventz/auth/login" id="login">Se connecter</a>
        <a href="/eventz/user/profil" id="profil">Profil</a>
    </div>
</nav>

