<header th:fragment="headeruser">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../creer_evenement.css">
    <nav>
        <a class="navbar-brand" href="#">
            <img src="../Eventz.png" alt="Eventz Logo" id="eventz-logo" />
        </a>
        <div class="navbar-options">
            <a href="#" id="sortirCeSoir">Sortir ce soir</a>
            <a href="../creation_event.html" id="create">Créer un event</a>
            <a href="../connexion/connexion.html">
                <img src="../logo_connexion.png" alt="Logo" />
            </a>
        </div>
    </nav>
</header>