.nav {
    background-color: #e67b17 ;
    overflow: visible ;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 40px;
}

.navbar-brand {

    float: left;
    padding: 15px 50px;
    font-size: 20px;
    text-decoration: none;
}

.navbar-brand img {
    width: 60px;
}

#eventz-logo {
    margin-right: 20px;
}

.navbar-options {
    float: right;
    padding: 25px 20px;
    display: flex;
    gap: 15px;
}

.navbar-options a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.navbar-options a:hover {
    color: #f0b8c5;
}

.navbar-options img {
    width: 45px;
    height: auto;
    vertical-align: middle;
}

.relative:hover .absolute {
    display: block !important;

}
.navbar-options {
    display: flex;
    gap: 15px;
}

.relative:hover .dropdown-menu {
    display: block !important;

}

.dropdown-menu {
    display: none;

}
.menu-items {
    background-color: whitesmoke;
    color: #ffffff;
}

.menu-items:hover {
    background-color: rgba(229, 160, 176, 0.62);
    color: black;
}



