<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="'Détails de ' + ${evenement.nom_evenement}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>


    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 20px;
        background-image: url("/images/BG.png");
    }

    img {
        vertical-align: middle;
        border-style: none;
    }

    a {
        outline: none !important;
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
    }


    .footer {
        background-color: #f2f2f2;
        padding: 50px 0;
        font-size: 14px;
    }

    .footer .container {
        background-color: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
    }

    .footer .footer-section {
        flex: 1;
        margin-right: 20px;
    }

    .footer h2 {
        font-size: 18px;
    }

    .footer ul {
        list-style: none;
        padding: 0;
    }

    .footer ul li {
        margin-bottom: 10px;
    }

    .footer .contact-form form {
        display: flex;
        flex-direction: column;
    }

    .footer .contact-form input,
    .footer .contact-form textarea {
        margin-bottom: 10px;
    }

    @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
    h1{
        font-family: 'Dela Gothic One',sans-serif;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
</style>
<body>
<script src="https://kit.fontawesome.com/fddb41ef53.js" crossorigin="anonymous"></script>
<section class="h-screen items-center justify-center">
    <div th:insert="~{fragments/navbar/navbar :: nav}"></div>
    <div class="w-full mt-8 flex flex-col md:flex-row items-center bg-transparent">
        <div class="flex-1 ml-32 mb-6 md:mb-0 md:mr-6">
            <h1 class="text-5xl font-bold text-red-50"><span th:text="${evenement.nom_evenement}"></span></h1>
            <div class="mt-1 text-red-100 flex relative">
                <a href="" class="text-red-50 no-underline hover:no-underline hover:text-red-500"><span
                        th:text="'Par ' + ${evenement.organisateur.username}"></span>
                </a>
            </div>
            <div>
                <div class="mt-4">
                    <div class="flex items-center mb-2">
                        <div class="text-white mr-2 flex items-center">
                            <i class="fa-regular fa-calendar text-2xl w-12"></i>
                        </div>
                        <div>
                            <p class="mb-2"><span class="text-red-50">Du</span> <span class="font-bold text-red-500"
                                                                                      th:text="${evenement.printDebut()}">mer 21 août</span>
                            </p>
                            <p class="mb-2"><span class="text-red-50">Au</span> <span class="font-bold text-red-500"
                                                                                      th:text="${evenement.printFin()}">dim 25 août</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center mt-4">
                        <div class="text-white mr-2 flex items-center">
                            <i class="fas fa-map-marker-alt text-2xl w-12"></i>
                        </div>
                        <div>
                            <p class="mb-2 text-red-50">
                                <th:block>
                                    <div style="display: none;">
                                        <p th:text="'isPublic_adresse() : ' + ${evenement.adresse.isPublic_adresse()}"></p>
                                    </div>
                                    <!-- Display the address if it is public -->
                                    <th:block th:if="${evenement.adresse.isPublic_adresse()}">
                                        <p class="text-red-50"
                                           th:text="${evenement.adresse.numero_adresse} + ' ' + ${evenement.adresse.rue_adresse} + ' ' + ${evenement.adresse.ville_adresse} + ' ' + ${evenement.adresse.pays_adresse}"></p>
                                    </th:block>
                                    <!-- Display the private address message if the address is not public -->
                                    <th:block th:unless="${evenement.adresse.isPublic_adresse()}">
                                        <p class="text-red-50">L'adresse est privée pour l'instant.</p>
                                    </th:block>
                                </th:block>
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center mt-6">
                        <div class="text-white mr-2 flex items-center">
                            <i class="fa-solid fa-money-bill-wave text-2xl w-12"></i>
                        </div>
                        <div>
                            <p class="mb-2 text-red-50"><span th:text="${evenement.prix_evenement} + ' €'"></span></p>
                        </div>
                    </div>
                </div>

                <div class="mt-10">
                    <div th:if="${connecte}" class="flex">
                            <form action="/eventz/evenement/participate" method="post">
                                <input type="hidden" th:name="event_id" th:value="${evenement.idEvenement}">
                                <button type="submit"
                                        class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg flex items-center"
                                        th:text="${boutonParticipe}">Participer
                                </button>
                            </form>
                        <div th:if="${user == evenement.organisateur}" class="ml-4">
                            <a th:href="@{'/eventz/evenement/update?id='+${evenementId}}" class="hover:no-underline">
                                <button
                                        class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg flex items-center"
                                >Modifier
                                </button>
                            </a>
                        </div>
                    </div>
                    <div th:if="${!connecte}">
                        <a th:href="@{'/eventz/auth/login'}" class="hover:no-underline">
                            <p class="text-red-50 hover:text-purple-300">Connecte-toi pour participer</p>
                        </a>
                    </div>
                </div>

                <p class="mt-4 text-red-50"><span th:text="${evenement.participes.size()}"></span> sont intéressé•e•s -
                    <span th:text="${evenement.nb_place_evenement}"></span> places</p>
            </div>
        </div>
        <div class="flex-1 items-center justify-center mr-6">
            <img th:src="@{'/eventz/evenement/image/' + ${evenement.idEvenement}}" alt="The Offspring"
                 class="w-11/12 h-96 object-cover rounded-sm">
        </div>
    </div>
</section>
<section class="flex items-center justify-center">
    <div class="w-full flex flex-col md:flex-row bg-transparent mt-16">
        <div class="pl-8 w-3/5">
            <div>
                <h1 class="text-red-50 text-2xl">Description</h1>
                <div class="mt-4">
                    <p class="text-red-50">
                        <span th:text="${evenement.description_evenement}"></span>
                    </p>
                </div>
            </div>

            <div class="mt-16">
                <h1 class="text-red-50 text-2xl">Lieu</h1>
                <div class="mt-4">
                    <p class="text-red-50">
                        <th:block>
                            <div style="display: none;">
                                <p th:text="'isPublic_adresse() : ' + ${evenement.adresse.isPublic_adresse()}"></p>
                            </div>
                            <!-- Display the address if it is public -->
                            <th:block th:if="${evenement.adresse.isPublic_adresse()}">
                                <p class="text-red-50" th:text="${evenement.adresse.numero_adresse} + ' ' + ${evenement.adresse.rue_adresse} + ' ' + ${evenement.adresse.ville_adresse} + ' ' + ${evenement.adresse.pays_adresse}"></p>
                                <div class="mt-2">
                                    <a th:href="@{'https://www.google.com/maps/search/?api=1&query=' + ${evenement.adresse.numero_adresse} + '+' + ${evenement.adresse.rue_adresse} + '+' + ${evenement.adresse.ville_adresse} + '+' + ${evenement.adresse.pays_adresse}}" class="no-underline hover:no-underline hover:text-red-500 text-red-50 mt-2 w-1/2">
                                        <button class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg flex items-center">
                                            <i class="fas fa-map-marker-alt text-2xl"></i>
                                            <p class="ml-2">OUVRIR DANS GOOGLE MAPS</p>
                                        </button>
                                    </a>
                                </div>
                            </th:block>

                            <!-- Display the private address message if the address is not public -->
                            <th:block th:unless="${evenement.adresse.isPublic_adresse()}">
                                <p class="text-red-50">L'adresse est privée pour l'instant.</p>
                            </th:block>
                        </th:block>
                    </p>
                </div>
            </div>

            <div th:if="${artistes != null and artistes.size() > 0}" class="mt-16">
                <h1 class="text-red-50 text-2xl">Les artistes</h1>
                <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-x-4 gap-y-2 mt-4">
                    <div th:each="artiste : ${artistes}"
                         class="relative bg-red-50 shadow-md overflow-hidden w-32 h-40 rounded-lg bg-transparent">
                        <a th:href="@{'/eventz/artiste/' + ${artiste.id_artiste}}"
                           class="flex no-underline text-red-500 h-full">
                            <div>
                                <img th:src="@{'/eventz/artiste/profile-image/' + ${artiste.id_artiste}}" alt="Artiste"
                                     class="w-full object-cover">
                            </div>
                            <div class="absolute bottom-0 left-0 right-0 bg-transparent p-2 text-center text-white">
                                <h1 class="text-sm font-semibold text-red-500" th:text="${artiste.nom_artiste}"></h1>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-12">
            <div th:if="${amisParticipent != null and amisParticipent.size() > 0}" class="mb-16">
                <h1 class="text-red-50 text-2xl">Mes amis qui participent</h1>
                <div class="flex -space-x-2 overflow-hidden pt-2 ml-2">
                    <div th:if="${connecte}" class="flex">
                        <div th:each="ami, iterStat : ${amisParticipent}">
                            <a th:href="@{'/eventz/user/profil/' + ${ami.getUsername()}}">
                                <img th:if="${iterStat.count <= 7}"
                                     th:src="@{'/eventz/user/profile-image/' + ${ami.id_utilisateur}}"
                                     alt="Ami participant"
                                     class="inline-block h-16 w-16 rounded-full object-cover">
                            </a>
                            <span th:if="${iterStat.count == 8}"
                                  class="h-16 w-16 rounded-full bg-gray-200 flex items-center justify-center text-sm font-medium text-gray-600"
                                  th:text="${(amisParticipent.size() - 7) > 0 ? '+' + (amisParticipent.size() - 7) : (amisParticipent.size() - 7)}">+9</span>
                        </div>
                    </div>
                    <div th:if="${!connecte}">
                        <a th:href="@{'/eventz/auth/login'}" class="hover:no-underline">
                            <p class="text-red-50 hover:text-purple-300">Connecte-toi pour voir tes amis qui
                                participent</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="">
                <h1 class="text-red-50 text-2xl">L'organisateur</h1>
                <div class="flex align-items-center mt-3">
                    <a th:href="@{'/eventz/user/profil/' + ${evenement.organisateur.username}}">
                        <figure class="m-0">
                            <img th:src="@{'/eventz/user/profile-image/' + ${evenement.organisateur.id_utilisateur}}"
                                 alt="Photo de profil" class="rounded-full w-16 h-16 mr-4 object-cover">
                        </figure>
                    </a>
                    <p class="text-red-50 font-bold" th:text="${evenement.organisateur.username}"></p>
                </div>
                <div class="mt-8">
                    <h1 class="text-md text-uppercase text-red-50">Bio :</h1>
                    <p class="text-red-50" th:text="${evenement.organisateur.description_utilisateur}"></p>
                </div>
                <div class="mt-8">
                    <h1 class="text-md text-uppercase text-red-50">événements organisés:</h1>
                    <p class="text-red-50" th:text="${nb_orga}"></p>
                </div>
                <div class="mt-8" th:if="${moyenneOrga != '0.0'}">
                    <h1 class="text-md text-uppercase text-red-50">Avis moyens sur les évenements:</h1>
                    <p class="text-red-50" th:text="${moyenneOrga} + '/5'"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-16" th:if="${isFinished}">
    <div class="ml-6 mr-6 border-t border-red-500">
        <h1 class="text-red-50 text-2xl ml-6 mt-10">
            Les avis
        </h1>
    </div>
    <div class="flex w-full mt-4">
        <div th:if="${notes != null and notes.size() > 0}" class="w-2/3 h-96 overflow-y-auto no-scrollbar">
            <div th:each="note : ${notes}" class="ml-12 border-b border-red-50 mt-4">
                <div class="flex items-center relative">
                    <a th:href="@{'/eventz/user/profil/' + ${note.utilisateur.username}}">
                        <figure class="m-0">
                            <img th:src="@{'/eventz/user/profile-image/' + ${note.utilisateur.id_utilisateur}}" alt="Photo de profil" class="rounded-full w-12 h-12 mr-4 object-cover">
                        </figure>
                    </a>
                    <p class="text-red-50 font-bold" th:text="${note.utilisateur.username}"></p>
                    <p class="text-red-50 font-bold absolute right-0" th:text="${note.getNote() + '/5'}"></p>
                </div>
                <p th:text="${note.getCommentaire()}" class="w-full break-words whitespace-normal text-red-50 mt-2 mb-4"></p>
            </div>
        </div>
        <div class="w-1/3 items-center">
            <h1 class="text-md text-uppercase text-red-50 ml-4">Note globale : <span th:text="${moyenneNote}"></span></h1>
            <div class="m-4">
                <h1 class="text-md text-uppercase text-red-50">Ajouter un avis</h1>
                <form action="/submitAvis" method="post" class="space-y-4">
                    <!-- Champ caché pour l'ID de l'événement -->
                    <input type="hidden" id="evenementId" th:name="evenementId" th:value="${evenement.idEvenement}" />
                    <div>
                        <label for="note" class="block text-sm font-medium text-red-50">Note (1-5)</label>
                        <select id="note" name="note" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div>
                        <label for="commentaire" class="block text-sm font-medium text-red-50">Commentaire</label>
                        <textarea id="commentaire" name="commentaire" rows="4" class="mt-1 block w-full shadow-sm sm:text-sm border font-semibold border-red-500 text-red-50 bg-transparent rounded-md" placeholder="Écrivez votre commentaire ici..."></textarea>
                    </div>
                    <div>
                        <button type="submit" class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                            Soumettre
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    class MessageBox {
        constructor(option) {
            this.option = option || {};
            this.msgBoxArea = document.getElementById('msgboxArea');
        }

        show(msg, callback, closeLabel) {
            if (closeLabel === undefined || closeLabel === null) {
                closeLabel = "Close";
            }

            const option = this.option;

            const msgboxBox = document.createElement("DIV");
            const msgboxContent = document.createElement("DIV");
            const msgboxCommand = document.createElement("DIV");
            const msgboxClose = document.createElement("A");

            msgboxContent.classList.add("msgbox-content");
            msgboxContent.innerText = msg;

            msgboxCommand.classList.add("msgbox-command");

            msgboxClose.classList.add("msgbox-close");
            msgboxClose.setAttribute("href", "#");
            msgboxClose.innerText = closeLabel;

            msgboxBox.classList.add("msgbox-box");
            msgboxBox.appendChild(msgboxContent);

            if (option.hideCloseButton === false || option.hideCloseButton === undefined) {
                msgboxCommand.appendChild(msgboxClose);
                msgboxBox.appendChild(msgboxCommand);
            }

            this.msgBoxArea.appendChild(msgboxBox);

            msgboxClose.onclick = (evt) => {
                evt.preventDefault();
                if (msgboxBox.classList.contains("msgbox-box-hide")) {
                    return;
                }
                clearTimeout(this.msgboxTimeout);
                this.msgboxTimeout = null;
                this.hide(msgboxBox, callback);
            };

            if (option.closeTime > 0) {
                this.msgboxTimeout = setTimeout(() => {
                    this.hide(msgboxBox, callback);
                }, option.closeTime);
            }
        }

        hideMessageBox(msgboxBox) {
            return new Promise(resolve => {
                msgboxBox.ontransitionend = () => {
                    resolve();
                };
            });
        }

        async hide(msgboxBox, callback) {
            if (msgboxBox !== null) {
                msgboxBox.classList.add("msgbox-box-hide");
            }
            await this.hideMessageBox(msgboxBox);
            this.msgBoxArea.removeChild(msgboxBox);
            clearTimeout(this.msgboxTimeout);
            if (typeof callback === "function") {
                callback();
            }
        }
    }

    const msgboxShowMessage = document.querySelector("#msgboxShowMessage");
    const msgbox = new MessageBox({
        closeTime: 10000,
        hideCloseButton: false
    });

    const msgboxNoClose = new MessageBox({
        closeTime: 5000,
        hideCloseButton: true
    });


    msgboxShowMessage.addEventListener("click", () => {
        msgbox.show("tu particpe à l'événement ", null);
    });

    let lastScrollTop = 0;
    const navbar = document.querySelector('.navbar');

    window.addEventListener('scroll', function () {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop) {
            // Downscroll
            navbar.style.top = '-64px'; // Cache la navbar
        } else {
            // Upscroll
            navbar.style.top = '0';
        }
        lastScrollTop = scrollTop;
    });
</script>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">

</script>
<th:block th:insert="~{fragments/footer :: footer}"></th:block>
</body>
</html>