<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title th:text="${eventname} + Chat"></title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .shadow-custom {
      --tw-shadow: 0 0 5vw 0vw rgb(8, 75, 117),
      0 0 1vw 0.4vw rgb(38, 55, 173),
      inset 0 0 .5vw 0.2vw rgb(34, 32, 201),
      inset 0 0 0.2vw 0.2vw rgb(202, 190, 218),
      inset 0 0 .25vw 0.2vw rgb(253, 253, 253);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
  </style>
</head>
<body class="h-screen m-0 p-0 font-sans text-base leading-relaxed bg-gray-900">
<noscript>
  <h2 class="text-center">Sorry! Your browser doesn't support Javascript</h2>
</noscript>
<div id="chat-page" class="flex items-center justify-center h-screen w-full" th:if="${authorization == true}">
  <div class="chat-container bg-gradient-to-br from-sky-900 to-indigo-900 shadow-custom w-4/5 h-4/5 p-5 rounded-3xl flex flex-col">
    <input type="hidden" id="username" th:value="${user.username}"/>
    <input type="hidden" id="userId" th:value="${user.id_utilisateur}"/>
    <input type="hidden" id="eventname" th:value="${eventname}">
    <div class="flex items-center relative">
      <img th:src="@{/images/Eventz.png}" alt="Eventz Logo" id="eventz-logo" class="w-36 h-36 object-cover p-4"/>
      <h2 class="text-5xl text-blue-100 font-extrabold absolute left-1/2 transform -translate-x-1/2" th:text="${eventname} + Chat"></h2>
    </div>
    <div class="connecting pt-2 text-center text-blue-100 w-full">
      Connecting...
    </div>
    <div id="messageContainer" class="flex-1 mt-2 overflow-y-auto">
      <ul id="messageArea" class="px-5">
        <li th:each="message : ${messages}"
            th:class="${message.type == 'JOIN' ? 'event-message' : message.type == 'LEAVE' ? 'event-message' : 'chat-message'}">
          <div th:if="${message.type != 'JOIN' && message.type != 'LEAVE'}" class="flex items-center py-3">
            <div class="flex-shrink-0">
              <!--<a th:href=#>-->
              <img th:src="@{'/eventz/user/profile-image/' + ${user.id_utilisateur}}"
                   alt="Profile Picture"
                   class="w-14 h-14 object-cover rounded-full">
              <!--</a>-->
            </div>
            <div class="ml-2">
                            <span th:text="${user.username}" class="font-extrabold text-blue-100">
                            </span>
              <p th:text="${message.type == 'JOIN' ? message.sender + ' a rejoin!' : message.type == 'LEAVE' ? message.sender + ' est parti!' : message.content}"
                 class="text-blue-100"></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="form-container rounded-lg p-4">
      <form id="messageForm" name="messageForm">
        <div class="form-group">
          <div class="input-group flex">
            <input type="text" id="message" placeholder="Ecrivez un message..." autocomplete="off"
                   class="flex-1 rounded-l-lg pl-3 py-2 focus:outline-none"/>
            <button type="submit"
                    class="bg-blue-600 text-white rounded-r-lg px-4 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-400 transform transition hover:scale-105">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                   stroke="currentColor" class="w-7 h-7">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"/>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/eventchat.js"></script>
</body>
</html>
