<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title th:text="${artiste.nom_artiste}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="output.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

        body {
            background-image: url("/images/BG.png");
            background-size: cover;
            background-repeat: repeat-y;
            background-attachment: scroll;
        }

        h1, form {
            font-family: 'Dela Gothic One', sans-serif;
        }</style>
</head>
<body>
<section class="">
<div class="">
    <div th:insert="~{fragments/navbar/navbar :: nav}"></div>
</div>
<div class="flex-col justify-around">
    <div class="ml-4 mr-auto p-6 flex flex-row items-center rounded-3xl">
        <img th:src="@{'/eventz/artiste/profile-image/' + ${artiste.getId_artiste()}}" alt="photo" class="rounded-full profile-img h-52 w-52 object-cover shadow-xl">
        <div class="ml-12 w-1/2">
            <h1 class="text-5xl text-red-50" th:text="${artiste.getNom_artiste()}"></h1>
            <p class="mt-2 text-lg text-red-50 opacity-70 break-words whitespace-normal" th:text="${artiste.getDescription_artiste()}"></p>
            <h1 class="text-2xl text-red-50" th:text="${typeMusique}"></h1>
        </div>
        <div class="ml-12">
            <form action="/eventz/artiste/follow" method="post">
                <input type="hidden" th:name="id_artiste" th:value="${artiste.id_artiste}">
                <button type="submit" class="text-red-50 ml-10 mr-20 bg-gradient-to-br from-purple-900 to-purple-600 hover:bg-gradient-to-br hover:from-purple-600 hover:to-purple-900 focus:ring-2 focus:ring-purple-900 rounded-lg text-lg px-6 py-2 text-center" th:text="${boutonSuivre}"></button>
            </form>
            <div th:if="${amiFollows != null and amiFollows.size() > 0}" class="mt-6 flex">
                <h1 class="text-red-50 text-lg">Suivi par :</h1>
                <div class="flex -space-x-2 overflow-hidden pt-2 ml-2">
                    <div th:each="amiFollow, iterStat : ${amiFollows}">
                        <a th:href="@{'/eventz/user/profil/' + ${amiFollow.getUsername()}}">
                            <img  th:if="${iterStat.count <= 7}" th:src="@{'/eventz/user/profile-image/' + ${amiFollow.id_utilisateur}}" alt="Ami participant" class="inline-block h-16 w-16 rounded-full object-cover">
                        </a>
                        <span th:if="${iterStat.count == 8}" class="h-16 w-16 rounded-full bg-gray-200 flex items-center justify-center text-sm font-medium text-gray-600" th:text="${(amiFollows.size() - 7) > 0 ? '+' + (amiFollows.size() - 7) : (amisFollows.size() - 7)}">+9</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
    <div class="mt-6" th:if="${eventAVenir != null and eventAVenir.size() > 0}">
        <h1 class="mt-4 text-3xl text-center text-red-500">Événements à venir</h1>
        <div class="flex">
        <div th:each="eventAVenir : ${eventAVenir}"
             class="mb-4 relative flex justify-center items-start event hover:bg-gray-700 bg-opacity-50 hover:opacity-70 p-15 rounded-lg text-base text-black transition duration-300 ease-in-out h-1/5 w-1/4 text-center mr-14 flex-none">
            <a th:href="@{'/eventz/evenement/details?id=' + ${eventAVenir.idEvenement}}">
                <img th:src="${eventAVenir.hasPdp() ? '/eventz/evenement/image/' + eventAVenir.idEvenement : 'https://www.bootdey.com/image/450x280/FFB6C1/000000'}"
                     class="mt-4 rounded-lg mb-2 object-cover w-72 h-40" alt="profile cover">
                <div class="mb-2">
                    <h1 class="text-2xl text-gray-100" th:text="${eventAVenir.nom_evenement}">Nom de l'événement</h1>
                </div>
            </a>
        </div>
        </div>
    </div>
    <div th:if="${eventPasse != null and eventPasse.size() > 0}">
        <h1 class="mt-4 text-3xl text-center text-red-500">Événements passés</h1>
        <div class="flex">
        <div th:each="eventPasse : ${eventPasse}"
             class="overflow-x-auto mb-4 relative flex justify-center items-start event bg-gray-300 hover:bg-gray-700 bg-opacity-50 hover:opacity-70 p-15 rounded-lg text-base text-black transition duration-300 ease-in-out h-1/5 w-1/4 text-center mr-14 flex-none">
            <a th:href="@{'/eventz/evenement/details?id=' + ${eventPasse.idEvenement}}">
                <img th:src="${eventPasse.hasPdp() ? '/eventz/evenement/image/' + eventPasse.idEvenement : 'https://www.bootdey.com/image/450x280/FFB6C1/000000'}"
                     class="mt-4 rounded-lg mb-2 object-cover w-72 h-40" alt="profile cover">
                <div class="mb-2">
                    <h1 class="text-2xl text-gray-100" th:text="${eventPasse.nom_evenement}">Nom de l'événement</h1>
                </div>
            </a>
        </div>
        </div>
    </div>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>
</body>
</html>